

<!DOCTYPE html

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <title>Document</title>
    <style>
        h3{
            text-align:center;
            background-color:red;
            color:white;
          ;
            
        }
    </style>
</head>
<body>
    <h3 id="ss">Online Cv Genrator Service</h3>
    <span>Name:  {{userp.name}}</span>
    <h2>Online ID</h2>{{userp.id}}
    <hr>
    <h2>Name</h2>{{userp.name}}
    <h2>Email</h2>{{userp.email}}
    <h2>Mobile</h2>{{userp.phone}}
    <hr>
    <br>
    <h2> Summary</h2>
 <p>{{userp.summary}}</p>
 <h2>My Qualificatio</h2>
 <p> {{userp.degree}}</p>

   <h2>School Level</h2>
    <p>
        {{userp.school}}
    </p>
<h2> university Level </h2>
    <p>{{userp.university}}</p>
    <h2> My Experience</h2>
    <p> {{userp.previous}}</p>
    <h2>History of My education</h2>
    
     <p>{{userp.skills}}</p>
    

    <address>
        Devloped By Rashid Khan<br>
        03411007455
    </address>
    
</body>
</html>